<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    
    <title>mickenilsson.me</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <article>
    <div class="islet">
      <div class="media">
        <img src="http://placekitten.com/200/300" alt="" class="media__img">
        <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="islet">
      <div class="media">
        <img src="http://placekitten.com/200/300" alt="" class="media__img">
        <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="islet">
      <div class="media">
        <img src="http://placekitten.com/200/300" alt="" class="media__img">
        <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="islet">
      <div class="media">
        <img src="http://placekitten.com/200/300" alt="" class="media__img">
        <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="islet">
      <div class="media">
        <img src="http://placekitten.com/200/300" alt="" class="media__img">
        <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </article>

    <div>TJATJA</div>

</body>
</html>
